body {
    margin: 0;
    padding:0;
    background-color: #ffffff;
    height: 100%;
}

model-viewer {
    width: 100%;
    height: 100%;
    position: fixed;
}

.custom-ar-button {
    position:fixed;
    width: 120px;
    bottom: 14px;
    right: 14px;  
}