body {
    margin: 0;
    padding:0;
    height: 100%;
}

model-viewer {
    width: 100%;
    height: 100%;
    position: fixed;
}

.custom-ar-button {
    position:fixed;
    font-size: 60px;
    width: 500px;
    height: 150px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #59b1eb;
    color: #fff;
    border-radius: 20px;
}

.custom-ar-button:hover {
    background-color: darkgray;
}