body {
    margin: 0px;
    background-color: #ffffff;
    height: 100%;
}

model-viewer {
    width: 100%;
    height: 100%;
    position: absolute;
}

#custom-ar-button {
    font-size: 24px;
    position: absolute;
    bottom: 16px;
    left: 16px;
}